@charset "UTF-8";


// Фундаментальные стили

@import "normalize";
@import "variables";
@import "mixins";
@import "animations";

// ==========




// Компоненты

@import "components/container";
@import "components/typography";
@import "components/btn";
@import "components/input";
@import "components/select";
@import "components/checkbox";
@import "components/modal";
@import "components/burger-menu";
@import "components/btn-up";
@import "components/custom-slider";

// ==========




// Блоки

@import "blocks/header";
@import "blocks/first-screen";
@import "blocks/aboutus";
@import "blocks/projects";
@import "blocks/skill";
@import "blocks/review";
@import "blocks/steps";
@import "blocks/final-form";
@import "blocks/footer";

// ==========

