$main-color: #98B61D;
$second-color: #4D5C10;

$dark-bg: #191512;
$light-bg: #F9F9F9;
$dark-green: #333D0B;
$white: #fff;
$black: #191512;

$title: #35332F;
$text: #35332F;
$light-text: #716F6F;
$green-text: #7B866E;

$link: #004BF7;
$btn: #98B61D;

$line: #EFEFEF;
$input-line: #F9F9F9;
