// О НАС

/*Основа*/





/*-----------*/




/*Заголовок*/

.about__wrap {
	.title__h2 {
		transform: translate(0, 30%);
		transition: all 0.8s ease 0s;
		opacity: 0;
		&._active {
			opacity: 1;
			transform: translate(0px, 0px);
			transition: all 0.8s ease 0s;
		}
		@include bp-1024 {
			margin-bottom: 20px;
		}
	}
}

/*-----------*/




/*Преимущества*/

.about__content {
	display: flex;
	flex-direction: row;
	align-items: center;
	@include bp-640 {
		flex-direction: column;
	}
	.about__advantages {
		flex: 1 1 620px;
		@include bp-640 {
			flex-basis: auto;
		}
		.advantage {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 20px 0;
			flex: 1 0 620px;
			transform: translate(0, 40%);
			opacity: 0;
			&._active {
				opacity: 1;
				transform: translate(0px, 0px);
				transition: all 0.6s ease 0s;
			}
			@include bp-1024 {
				align-items: flex-start;
			}
			@include bp-480 {
				margin: 10px 0;
			}
			.ic {
				position: relative;
				min-width: 40px;
				min-height: 30px;
				margin-right: 20px;
				@include bp-1024 {
					min-width: 20px;
					height: 15px;
					margin-right: 10px;
					margin-top: 10px;
				}
				&:before {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 40px;
					height: 30px;
					background: url('../img/interface/green-check.svg');
					background-size: 40px 30px;
					background-repeat: no-repeat;
					@include bp-1024 {
						background-size: 20px 15px;
						width: 20px;
						height: 15px;
					}
				}

			}
			.text__block {
				max-width: 620px;
				p {
					font-weight: 700;
					font-size: 20px;
					margin-bottom: 8px;
				}
			}
		}
	}

	.about__pic {
		flex: 1 1 400px;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		&._active {
			opacity: 1;
			transition: all 0.3s ease 0s;
		}
		@include bp-640 {
			flex-basis: auto;
			width: 220px;

		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}



/*----------*/




/*Еще преимущества*/

#aboutus2 {
	background-color: $light-bg;
}

.padding-advantages {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about__content2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.items__block {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include bp-768 {
			align-items: flex-start;
		}
		@include bp-480 {
			flex-direction: column;
			align-items: flex-start;
		}
		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex: 1 1 260px;
			margin: 15px;
			transform: translate(0, 30%);
			opacity: 0;
			&._active {
				opacity: 1;
				transform: translate(0px, 0px);
				transition: all 0.6s ease 0s;
			}
			@include bp-480 {
				flex-direction: row;
				flex-basis: auto;
				margin: 5px;
			}
			.item-box {
				display: flex;
				flex-direction: row;
				align-items: center;
				max-width: 250px;
				.ic {
					min-width: 58px;
					height: 58px;
					margin-right: 15px;
					@include bp-992 {
						min-width: 35px;
						height: 35px;
					}
					@include bp-768 {
						margin-right: 0;
						margin-bottom: 10px;
					}
					@include bp-480 {
						margin-right: 15px;
					}
					img {
						width: 58px;
						height: 58px;
						@include bp-992 {
							width: 35px;
							height: 35px;
						}
					}
				}
				p {
					font-weight: 700;
					margin-bottom: 0;
					max-width: 100%;
				}
				@include bp-768 {
					flex-direction: column;
					text-align: center;
					justify-content: flex-start;
					align-items: center;
				}
				@include bp-480 {
					flex-direction: row;
					text-align: left;
				}
			}
		}
	}
}

/*----------*/



// КОНЕЦ ==========