// ФИНАЛЬНАЯ ФОРМА

/*Основной блок*/

#final {
	background-image: url('../img/bg/footer-bg-1x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $dark-green;
	@include bg-x2 ('../img/bg/footer-bg-2x.jpg');
	@include bp-1024 {
		background-size: contain;
	}
}

/*-----------*/




/*Блок*/

.final__block {
	display: flex;
	flex-direction: column;
	width: 750px;
	@include bp-1200 {
		align-items: center;
		width: 100%;
	}
}

.final-title {
	transform: translate(0, 30%);
	opacity: 0;
	&._active {
		opacity: 1;
		transform: translate(0px, 0px);
		transition: all 0.6s ease 0s;
	}
	h2 {
		color: $white;
		font-size: 48px;
		@include bp-1200 {
			text-align: center;
		}
		@include bp-992 {
			font-size: 28px;
		}
		@include bp-480 {
			font-size: 22px;
		}
	}
}

.final-text {
	margin-bottom: 30px;
	transform: translate(0, 20%);
	opacity: 0;
	&._active {
		opacity: 1;
		transform: translate(0px, 0px);
		transition: all 0.6s ease 0s;
	}
	p {
		color: $white;
		text-align: left;
		@include bp-992 {
			text-align: center;
		}
	}
}

/*-----------*/



/*Форма*/

.final-form {
	transform: translate(0, 10%);
	opacity: 0;
	&._active {
		opacity: 1;
		transform: translate(0px, 0px);
		transition: all 0.6s ease 0s;
	}
	background-color: $white;
	border-radius: 10px;
	.form__modal {
		.modal__container {
			padding: 25px 35px;
			width: 750px;
			margin: 0;
			align-items: flex-start;
			@include bp-1200 {
				align-items: center;
			}
			@include bp-992 {
				width: auto;
			}
			@include bp-480 {
				padding: 25px 20px;
			}
			
			.modal__title {
				margin-bottom: 10px;
				margin-left: 5px;
				@include bp-1200 {
					margin-left: 0;
				}
				p {
					text-align: left;
					font-weight: 700;
					@include bp-1200 {
						text-align: center;
					}
				}
			}
	
			.modal__form {
				align-items: flex-start;
				@include bp-1200 {
					align-items: center;
				}
				@include bp-820 {
					width: 100%;
				}
				.inputs {
					display: flex;
					flex-direction: row;
					@include bp-820 {
						flex-direction: column;
					}
					.input-container {
						width: 220px;
						@include bp-820 {
							width: auto;
						}
						margin: 5px;
					}
					.form-btn {
						margin: 5px;
						button {
							padding-left: 25px;
							padding-right: 25px;
							height: 50px;
							width: 100%;
						}
					}
				}
				.checkbox {
					display: flex;
					flex-direction: row;
					margin: 15px 0 5px 5px;
					@include bp-1200 {
						justify-content: center;
						margin-left: 0px;
					}
					@include bp-640 {
						flex-direction: column;
					}
					.label-text {
						width: auto;
						white-space: nowrap;
						&:before {
							top: 0;
						}
						@include bp-640 {
							&:before {
								top: 8px;
							}
						}
					}
					.btn-politics {
						display: inline-block;
						text-align: left;
						margin-left: 10px;
						cursor: pointer;
						font-size: 11px;
						color: $title;
						@include bp-640 {
							margin-left: 30px;
						}
					}
				}
			}

		}


	}
}

/*-----------*/


// КОНЕЦ ПОДВАЛА ==========