// ПОДВАЛ

/*Основной блок*/

footer {
	background-color: $dark-green;
}

.footer__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	@include bp-1200 {
		flex-direction: column;
	}

}

/*-----------*/




/*Лого*/

.logo-and-copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	@include bp-1200 {
		order: 2;
	}
	@include bp-640 {
		flex-direction: column;
	}
	.footer-logo {
		display: flex;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 2;
		flex-basis: auto;
		margin-right: 30px;
		@include bp-640 {
			margin-right: 0;
			order: 2;
		}
		.logo-desctop {
			@include bp-640 {
				width: 100px;
				height: auto;
			}
			@include bp-380 {
				display: none;
			}
		}
		.logo-mobile {
			display: none;
			@include bp-380 {
				display: block;
			}
			@include bp-320 {
				margin-right: 10px;
				width: 60px;
			}
		}
	}
	.copyright {
		width: 150px;
		@include bp-1200 {
			width: 100%;
		}
		@include bp-640 {
			order: 1;
			margin-bottom: 10px;
		}
		p {
			color: $green-text;
		}
	}
}

/*-----------*/




/*Контакты*/

.footer-contacts {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 2;
	@include bp-1200 {
		order: 1;
		margin-bottom: 10px;
		justify-content: center;
	}
	@include bp-768 {
		flex-direction: column;
		width: 100%;
	}
	.social {
		margin: 0 30px 0 0;
		@include bp-800 {
			display: none;
		}
		a {
			margin: 5px;
		}
	}
	.mail {
		display: flex;
		flex-direction: row;
		align-content: center;
		flex-basis: 130px;
		margin-right: 20px;
		@include bp-768 {
			flex-basis: auto;
			margin-right: 0;
			margin-bottom: 15px;
		}
		.contacts__ic {
			position: relative;
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			&:before {
				content: '';
				position: absolute;
				top: 2px;
				left: 3px;
				right: 0;
				bottom: 0;
				margin: 0 auto;
				background-image: url('../img/contacts/mail.svg');
				background-size: 12px 18px;
				background-repeat: no-repeat;
				z-index: 2;
				opacity: 1;
			}
			@include bp-480 {
				display: none;
			}
		}
		a {
			color: $white;
		}
	}
	.address {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-basis: 160px;
		margin-right: 20px;
		@include bp-768 {
			flex-basis: auto;
			margin-right: 0;
			margin-bottom: 15px;
		}
		.contacts__ic {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 3px;
				right: 0;
				bottom: 0;
				margin: 0 auto;
				background-image: url('../img/contacts/map.svg');
				background-size: 12px 18px;
				background-repeat: no-repeat;
				z-index: 2;
				opacity: 1;
			}
			@include bp-480 {
				display: none;
			}
		}
		p {
			color: $white;
		}
	}
	.phone {
		flex-basis: auto;
		margin-left: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-shrink: 0;
		.contacts__ic {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 3px;
				right: 0;
				bottom: 0;
				margin: 0 auto;
				background-image: url('../img/contacts/phone.svg');
				background-size: 12px 18px;
				background-repeat: no-repeat;
				z-index: 2;
				opacity: 1;
			}
			@include bp-480 {
				display: none;
			}
		}
		.phone__block {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.phone-num {
				a {
					font-size: 18px;
					font-weight: 900;
					color: $white;
					&:hover {
						color: darken($white, 15%);
					}
				}
			}
			.phone__link {
				color: $main-color;
				font-weight: 700;
				cursor: pointer;
				@include bp-480 {
					display: none;
				}
				&:hover {
					color: lighten($main-color, 20%);
				}
			}
		}
	}
}


/*-----------*/


// КОНЕЦ ПОДВАЛА ==========