// ПРОЕКТЫ

/*Основа*/


.proj-skill {
	background: url('/img/bg/projects-bg-1x.jpg') no-repeat;
	background-size: cover;
	@include bg-x2 ('/img/bg/projects-bg-2x.jpg');
}



/*-----------*/




/*Меню*/

.projects__wrap {
	.title__h2 {
		margin-bottom: 20px;

		h2 {
			margin-bottom: 0;
		}
	}
}

.projects-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	
	@include bp-820 {
		flex-wrap: wrap;
	}
	.tab-item {
		margin: 0 10px;

		@include bp-820 {
			margin: 10px;
		}
		@include bp-480 {
			margin: 5px;
		}
		a {
			display: block;
			font-size: 16px;
			color: $light-text;
			padding: 10px 22px;
			border: 1px dashed rgba(113, 111, 111, 0.5);
			border-radius: 50px;
			white-space: nowrap;
			transition: all 0.3s ease-in-out;
			@include bp-480 {
				padding: 8px 16px;
				font-size: 14px;
			}
			&:hover {
				background-color: $main-color;
				color: $white;
				border-color: $main-color;
				cursor: pointer;
			}
		}
	}
	.active {
		background-color: $main-color;
		color: $white !important;
		border-color: transparent !important;
	}
}


/*----------*/




/*Карточки*/

.projects__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	@include bp-820 {
		flex-direction: column;
	}
	@include bp-640 {
		flex-direction: row;
	}
	.card {
		display: flex;
		flex-direction: column;
		margin: 10px;
		flex-basis: 360px;
		border-radius: 15px;
		cursor: pointer;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		background-color: #F9F9F9;

		@include bp-820 {
			flex-direction: row;
			flex-basis: auto;
		}
		@include bp-640 {
			flex-direction: column;
		}

		&:hover {
			box-shadow: 0 0px 20px rgba(53, 51, 47, 0.1);
			background-color: $white;
			.text {
				p {
					color: $main-color;
				}
			}

		}
		.card__pic {
			display: flex;
			justify-content: center;
			position: relative;

			img {
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				transition-duration: 0.7s;
				width: 100%;
				height: auto;
				@include bp-820 {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}

			.project-info {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin: 5px;
				position: absolute;
				bottom: 0;

				.info-box {
					border: 5px solid rgba(255, 255, 255, 0.5);
					border-radius: 20px;
					margin: 5px;
					@include bp-820 {
						border: none;
					}

					.info-container {
						display: flex;
						flex-direction: row;
						align-items: center;
						border-radius: 15px;
						padding: 5px 15px 5px 12px;
						background-color: rgba(255, 255, 255, 0.9);

						.info-ic {
							width: 16px;
							height: 16px;
							margin-right: 5px;
							@include bp-820 {
								display: none;
							}

							@include bp-380 {
								display: none;
							}
						}
						.size {
							background: url('/img/building-info/building-size.svg') no-repeat;

						}
						.room {
							background: url('/img/building-info/building-room.svg') no-repeat;
						}
						.floor {
							background: url('/img/building-info/building-floor.svg') no-repeat;
						}
						.info-name {
							display: flex;
							flex-direction: column;
							@include bp-992 {
								text-align: center;

							}
							span {
								font-size: 11px;
							}
							p {
								font-weight: 700;
							}

						}
					}
				}
			}
		}

		.card__name {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 25px 30px;
			justify-content: space-between;
			@include bp-820 {
				flex-direction: column;
				align-items: flex-start;
				margin-right: 0;
			}
			@include bp-380 {
				padding: 15px 20px;
			}
			.text {
				margin-right: 10px;
				@include bp-820 {
					margin-right: 0;
				}
				span {
					text-transform: uppercase;
					color: $light-text;
				}
				p {
					font-weight: 700;
					margin-bottom: 0;
					font-size: 14px !important;
				}
			}
			.ic-arrow {
				min-width: 25px;
				height: 22px;
				background-image: url('/img/interface/arrow-tail-bold.svg');
				background-repeat: no-repeat;
				background-size: contain;
				@include bp-640 {
					display: none;
				}
			}
		}
	}
}


/*----------*/


// КОНЕЦ ==========