// ПРОЕКТЫ

/*Основа*/


.proj-skill {
	background: url('../img/bg/projects-bg-1x.jpg') no-repeat;
	background-size: cover;
	@include bg-x2 ('../img/bg/projects-bg-2x.jpg');
}



/*-----------*/




/*Меню*/

.projects__wrap {

	.title__h2 {
		transform: translate(0, 30%);
		opacity: 0;
		&._active {
			opacity: 1;
			transform: translate(0px, 0px);
			transition: all 0.6s ease 0s;
		}
		margin-bottom: 20px;

		h2 {
			margin-bottom: 0;
		}
	}
}

.projects-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	.tab-item {
		margin: 0 10px;

		@include bp-820 {
			margin: 10px;
		}
		@include bp-480 {
			margin: 5px;
		}
		a {
			display: block;
			font-size: 16px;
			color: $light-text;
			padding: 10px 22px;
			border: 1px dashed rgba(113, 111, 111, 0.5);
			border-radius: 50px;
			white-space: nowrap;
			transition: all 0.3s ease-in-out;
			@include bp-480 {
				padding: 8px 16px;
				font-size: 14px;
			}
			&:hover {
				background-color: $main-color;
				color: $white;
				border-color: $main-color;
				cursor: pointer;
			}
		}
	}
	.active {
		background-color: $main-color;
		color: $white !important;
		border-color: transparent !important;
	}
}


/*----------*/




/*Карточки*/

.projects__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	.card {
		margin: 10px;
		flex: 1 1 360px;
		max-width: 360px;
		border-radius: 15px;
		cursor: pointer;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
		background-color: #F9F9F9;
		transition: all 0.8s ease 0s;
		opacity: 0;
		@include bp-480 {
			margin-left: 0;
			margin-right: 0;
		}
		@include bp-380 {
			flex-basis: 100%;
			max-width: 100%;
		}
		&._active {
			opacity: 1;
			transition: all 0.8s ease 0s;
		}

		&:hover {
			box-shadow: 0 0px 20px rgba(53, 51, 47, 0.1);
			background-color: $white;
			.text {
				p {
					color: $main-color;
				}
			}

		}

		.card__pic {
			position: relative;
			max-width: 360px;
			max-height: 242px;
			img {
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				transition-duration: 0.7s;
				width: 100%;
				height: auto;
			}

			.project-info {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 65px;
				margin: 0 auto;
				.info-wrap {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}
				.info-box {
					display: inline-block;
					float:left;
					height: 55px;
					margin: 3px;
					border: 5px solid rgba(255, 255, 255, 0.5);
					border-radius: 20px;					
					@include bp-820 {
						border: none;
						height: 45px;
					}
					.info-container {
						display: block;
						height: 100%;
						border-radius: 15px;
						padding: 2px 13px 10px 12px;
						background-color: #fff;
						@include bp-820 {
							padding-bottom: 2px;
						}
						.info-ic {
							display: inline-block;
							float: left;
							margin-top: 12px;
							width: 16px;
							height: 16px;
							margin-right: 5px;
							@include bp-820 {
								display: none;
							}
						}
						.size {
							background: url('../img/building-info/building-size.svg') no-repeat;
						}
						.room {
							background: url('../img/building-info/building-room.svg') no-repeat;
						}
						.floor {
							background: url('../img/building-info/building-floor.svg') no-repeat;
						}
						.info-name {
							display: inline-block;
							float:left;
							@include bp-992 {
								text-align: center;

							}
							span {
								font-size: 11px;
							}
							p {
								font-weight: 700;
							}

						}
					}
				}
			}
		}

		.card__name {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 25px 30px;
			@include bp-380 {
				padding: 15px 20px;
			}
			.text {
				width: 80%;
				margin-right: auto;
				@include bp-820 {
					width: 100%;
				}
				span {
					text-transform: uppercase;
					color: $light-text;
				}
				p {
					font-weight: 700;
					margin-bottom: 0;
				}
			}
			.ic-arrow {
				width: 25px;
				height: 25px;
				background-image: url('../img/interface/arrow-tail-bold.svg');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 25px 22px;
				@include bp-800 {
					display: none;
				}
			}
		}
	}
}


/*----------*/


// КОНЕЦ ==========