// ОТЗЫВЫ

/*Основа*/

.review__wrap {
	.title__h2 {
		margin-bottom: 0;
	}
}


/*-----------*/




/*Карточки*/

.review__block {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;

	// @include bp-1200 {
	// 	flex-direction: column;
	// }
}

.review__slider {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	.prev, .next {
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 0.3s ease-in-out;
		@include bp-480 {
			position: absolute;
		}
		&:hover {
			opacity: 1;
		}
	}
	.prev {
		@include bp-480 {
			left: 0;
		}
		img {
			transform: rotate(180deg);
		}
	}
	.next {
		@include bp-480 {
			right: 0;
		}
	}
	
}

.review__item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-basis: 540px;
	padding: 30px 40px;
	margin: 15px;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(53, 51, 47, 0.1);
	@include bp-1200 {
		flex-basis: auto;
	}
	@include bp-480 {
		padding: 20px 20px;
	}
	.text {
		margin-bottom: 20px;
		@include bp-1200 {
			min-height: 100%;
		}
		p {
			font-style: italic;
			min-height: 100px;
		}
	}

}

.reviewer {
	display: flex;
	flex-direction: row;
	align-items: center;
	.avatar {
		min-width: 50px;
		height: 50px;
		margin-right: 15px;
		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
	.name {
		font-weight: 700;

	}
}

// .actReview {
// 	display: block !important;
// }


/*----------*/




/*Блок*/

  


/*----------*/

// КОНЕЦ ==========