// ЧТО МОЖЕМ СДЕЛАТЬ

/*Основа*/


.skill__block {
	display: flex;
	flex-direction: row;
	@include bp-1200 {
		flex-direction: column;
	}
}

.skill__wrap {
	.title__h2 {
		margin-bottom: 0;
		@include bp-540 {
		}

	}
}


/*-----------*/




/*Виды построек*/

.skill__type {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 370px;
	flex-shrink: 0;
	margin-right: 40px;
	@include bp-1200 {
		flex-direction: row;
		flex-basis: auto;
		margin-right: 0;
		margin-bottom: 40px;
		flex-wrap: nowrap;
	}
	@include bp-768 {
		margin-bottom: 20px;
	}
	@include bp-640 {
		border: 1px solid #B5BE92;
	}
	// @include bp-540 {
	// 	display: none;
	// }
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 112px;
		min-height: 140px;
		padding: 20px;
		margin: 5px;
		border: 1px dotted #B5BE92;
		border-radius: 15px;
		transition: all 0.3s ease-in-out;

		@include bp-1024 {
			justify-content: center;
		}
		@include bp-768 {
			min-height: 90px;
		}
		@include bp-640 {
			padding: 5px;
			margin: 0;
			border-radius: 0;
			border: none;
			flex-basis: 100%;
		}
		@include bp-340 {
			padding: 2px;
			min-height: 70px;
		}

		.item__ic {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 58px;
			height: 58px;
			margin-bottom: 15px;
			@include bp-768 {
				width: 35px;
				height: 35px;
				margin-bottom: 5px;
				img {
					width: 35px;
					height: 35px;
				}
			}
			@include bp-340 {
				width: 25px;
				height: 25px;
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
		.item__name {
			display: flex;
			align-items: center;
			justify-content: center;

			@include bp-640 {
				height: auto;
			}
			p {
				transition: all 0.3s ease-in-out;
				color: $text;
				text-align: center;
				border-bottom: 1px dotted rgba(53, 51, 47, 0.3);
				@include bp-640 {
					border-bottom: none;
				}
				@include bp-420 {
					font-size: 13px;
				}
			}
		}
		&:hover {
			cursor: pointer;
			background-color: $main-color;
			p {
				color: $white;
				border-bottom: none;
			}
		}
	}
	.steps__item--big {
		width: 175px;
		@include bp-1200 {
		width: auto;
		}

	}
	.active {
		background-color: $main-color;
		p {
			color: $white !important;
			border-bottom: none;
			border: 1px solid transparent !important;
		}
	}
}

/*----------*/




/*Описание*/

.skill__description {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 15px;
	@include bp-1200 {
		justify-content: center;
	}
	.description__containter {
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		padding: 30px 40px;
		background-color: $white;
		box-shadow: 0 0 10px rgba(53, 51, 47, 0.1);
		@include bp-1200 {
			justify-content: center;
			width: 765px;
		}
		@include bp-768 {
			flex-direction: column;
		}
		@include bp-480 {
			padding: 25px 20px;
		}
		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-basis: 400px;
			margin-right: 30px;
			@include bp-768 {
				flex-basis: auto;
				margin-right: 0;
				margin-bottom: 20px;
			}
			.title {
				h3 {
					color: $main-color;
				}
			}
			.text {
				margin-bottom: 30px;
				@include bp-768 {
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 0;
				}
			}

			.advantages {
				display: flex;
				flex-direction: row;
				@include bp-768 {
					justify-content: space-between;
				}
				.item {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					margin: 5px 15px;
					@include bp-480 {
						margin: 5px;
				}
					.ic {
						display: flex;
						align-items: center;
						justify-content: center;
						max-width: 25px;
						max-height: 25px;
						@include bp-480 {
							max-width: 20px;
							max-height: 20px;
							margin-bottom: 5px;
							img {
								width: 20px;
								height: 20px;
							}
						}
					}
					p {
						margin-bottom: 0;
					}
				}
			}
		}
	
		.picture {
			flex-basis: 288px;
			height: auto;
			@include bp-768 {
				flex-basis: auto;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		.pic-deskt {
			@include bp-768 {
				display: none;
			}
		}
		.pic-tablet {
			display: none;
			@include bp-768 {
				display: block;
			}
		}
	}




}

/*----------*/


// КОНЕЦ ==========