// 4 ШАГА

/*Основа*/

.steps-padding {
	margin-bottom: 120px;
	@include bp-768 {
		margin-bottom: 60px;
	}

}

.steps__wrap {

	.title-block {
		position: relative;
		min-height: 41px;
		.title__h2 {
			transform: translate(0, 30%);
			opacity: 0;
			&._active {
				opacity: 1;
				transform: translate(0px, 0px);
				transition: all 0.6s ease 0s;
			}
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			margin-bottom: 0;
			@include bp-580 {
				margin-bottom: 20px;
				position:static;
			}
			h2 {
				margin-bottom: 0;
				padding-left: 15px;
				padding-right: 15px;
				background-color: $white;
			}
		}
	}

}


/*-----------*/




/*Шаги*/

.steps__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 5px solid #EFEFEF;
	border-radius: 20px;
	// @include bp-580 {
	// 	border: none;
	// }
	.steps {
		padding: 40px 25px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		@include bp-1200 {
			align-items: flex-start;
		}
		@include bp-992 {
			flex-direction: column;
			align-items: center;
		}
		@include bp-480 {
			padding: 15px 25px;
		}
	}
	.couple {
		display: flex;
		flex-direction: row;
		justify-content: center;
		@include bp-480 {
			flex-direction: column;
			width: 100%;
		}
	}
	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 15px;
		flex-basis: 240px;
		transform: translate(0, 30%);
		opacity: 0;
		&._active {
			opacity: 1;
			transform: translate(0px, 0px);
			transition: all 0.6s ease 0s;
		}
		@include bp-1200 {
			flex-direction: column;
			flex-basis: auto;
			justify-content: center;
		}
		@include bp-480 {
			flex-direction: row;
			margin: 10px;
		}

		.step-ic {
			min-width: 65px;
			min-height: 65px;
			margin-right: 15px;
			@include bp-1200 {
				margin-right: 0;
				margin-bottom: 10px;
				min-width: 35px;
				min-height: 35px;
				img {
					width: 35px;
					height: 35px;
				}
			}
			@include bp-480 {
				margin-bottom: 0;
				margin-right: 10px;
			}
		}
		.step-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include bp-1200 {
				align-items: center;
				text-align: center;
			}
			@include bp-480 {
				text-align: left;
			}
			.number {
				width: 25px;
				height: 25px;
				margin-bottom: 5px;
				@include bp-480 {
					display: none;
				}
				span {
					display: inline-block;
					border: 1px solid #B2B2B2;
					width: 25px;
					height: 25px;
					text-align: center;
					vertical-align: middle;
					border-radius: 50%;
					color: #b2b2b2;
					
				}
			}
			.text {
				width: 160px;
				p {
					width: 100%;
					font-weight: 700;
				}
			}
		}
	}
}

/*----------*/


// КОНЕЦ ==========