// 4 ШАГА

/*Основа*/

.steps-padding {
	margin-bottom: 120px;
	@include bp-768 {
		margin-bottom: 60px;
	}

}

.steps__wrap {

	.title-block {
		position: relative;
		min-height: 41px;
		.title__h2 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			margin-bottom: 0;
			@include bp-580 {
				margin-bottom: 20px;
				position:static;
			}
			h2 {
				margin-bottom: 0;
				padding-left: 15px;
				padding-right: 15px;
				background-color: $white;
			}
		}
	}

}


/*-----------*/




/*Шаги*/

.steps__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 5px solid #EFEFEF;
	border-radius: 20px;
	@include bp-580 {
		border: none;
	}
	.steps {
		padding: 40px 25px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		@include bp-992 {
			flex-direction: column;
		}
		@include bp-580 {
			padding: 0;
			align-items: flex-start;
		}
	}
	.couple {
		display: flex;
		flex-direction: row;
		justify-content: center;
		@include bp-580 {
			flex-direction: column;
			width: 100%;
		}
	}
	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 15px;
		flex-basis: 240px;
		@include bp-580 {
			flex-basis: auto;
		}
		@include bp-480 {
			margin: 10px 0;
		}
		.step-ic {
			min-width: 65px;
			min-height: 65px;
			margin-right: 15px;
			@include bp-480 {
				min-width: 35px;
				min-height: 35px;
				img {
					width: 35px;
					height: 35px;
				}
			}
		}
		.step-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.number {
				width: 25px;
				height: 25px;
				margin-bottom: 5px;
				span {
					display: inline-block;
					border: 1px solid #B2B2B2;
					width: 25px;
					height: 25px;
					text-align: center;
					vertical-align: middle;
					border-radius: 50%;
					color: #b2b2b2;
					
				}
			}
			.text {
				width: auto;
				p {
					font-weight: 700;
				}
			}
		}
	}
}

/*----------*/


// КОНЕЦ ==========