// BTN UP

.btn-up {
	position: fixed;
	right: 15px;
	bottom: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	img {
		opacity: 0.5;
		transition: all 0.3s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	
	
}

////////////////////