// Кнопка


@mixin button($bg: $first, $borderColor: $second) {
	position: relative;
	display: inline-block;
	padding: 16px 40px;
	border-radius: 5px;
	border: $borderColor;
	overflow: hidden;
	box-shadow: none;
	font-family: 'Rubik', Roboto, sans-serif;
	font-weight: 500;
	white-space: nowrap;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition-property: background-color, border-color;
	transition-duration: 500ms;
	background-color: $bg;
	transition: all 0.3s ease;
	outline: none;
	color: $white;
	@content;
	&:after {
		background: lighten($btn, 25%);;
		content: "";
		height: 155px;
		left: -75px;
		opacity: 0.2;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
	}
	&:hover {
		background-color: lighten($btn, 5%);
		color: $white;
		// box-shadow: 0px 2px 5px darken($btn, 30%);
		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
	&:active {
		background-color: darken($btn, 5%);
	}
}

button {
	@include button($btn, transparent);
}


////////////////////

