// БУРГЕР МЕНЮ

.burger-menu__block {
	overflow-y: auto;
	z-index: 80 !important;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	max-width: 460px;
	width: 100%;
	padding: 0;
	background-color: $white;
	transform: translateX(100%);
	transition: transform .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	@include bp-768 {
		max-width: 100%;
	}
	@include bp-480 {
		padding: 0 0 40px 0;
	}
	&.show {
	  transform :translateX(0px);
	}
}


.close-burger {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 19px 55px;
	color: $text;
	border-bottom: 1px solid $line;
	cursor: pointer;
	transition: all .2s ease;
	p {
		font-size: 14px;
		transition-duration: 0.3s;
	}
	img {
		width: 10px;
		opacity: 0.5;
		transform: rotate(360deg);
		margin-right: 8px;
	}
	&:hover {
		color: $link;
		background-color: lighten($main-color, 55%);
	}
	@include bp-768 {
		justify-content: center;
	}
}
 
.burger-menu__items {
	a {
		display: block;
		padding-left: 55px;
		padding-right: 55px;
		padding-top: 3vh;
		padding-bottom: 3vh;
		font-size: 1.4rem;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		border: none;
		transition: all .3s ease-in-out;
		color: $text;
		@include bp-768 {
			text-align: center;
		}
		@include bp-480 {
			font-size: 1.2rem;
		}
		&:hover {
			color: $main-color;
			background-color: lighten($main-color, 55%);
		}
	}
}

.burger__contacts {
	padding-left: 55px;
	margin-top: 50px;
	@include bp-768 {
		text-align: center;
		padding-left: 0;
	}
}

.social {
	margin-top: 40px;
	margin-bottom: 40px;
	transition: all .15s ease;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 25px;
		transition: 0.3s ease-in-out;
		&:last-of-type {
			margin-right: 0px;
		}
		img {
			width: 30px;
			height: 30px;
		}

	  }
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	transition: all 0.3s ease-in-out;
	background-color: $black;
	opacity: 0;
	visibility: hidden;
	&.show {
		opacity: 0.8;
		visibility: visible;
	}
	z-index: 60;
}


////////////////////
