// Блоки

.container {
	@include min-max(280px, 100%, 0);
}

.wrap {
	@include min-max(280px, 1200px, 15px);
}


.padding-block {
	padding-top: 120px;
	padding-bottom: 120px;
	@include bp-768 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include bp-480 {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.hidden {
	display: none !important;
}

.show-block {
	display: flex !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.first_ml {
	margin-left: 0  !important;
}
.last_mr {
	margin-right: 0  !important;
}

.first_mt {
	margin-top: 0  !important;
}
.last_mb {
	margin-bottom: 0  !important;
}

// ==========