// СЛАЙДЕР

.slider {
	overflow: hidden;
}

.slider figure {
	position: relative;
	width: 4000px;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
	img {
		width: 1000px;
	}
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -200%;
	}
}

////////////////////