// MAIN INPUT

@mixin input($bg: $first, $borderColor: $second) {
	position: relative;
    width: 100%;
	height: 50px;
	padding: 18px 20px 16px 48px;
    background-color: $bg;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	border: none;
	border-radius: 5px;
	border: 1px solid $borderColor;
	box-shadow: none;
	font-family: 'Open Sans', Roboto, sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
	transition-property: background-color, border-color;
	transition-duration: .3s;
	background-color: $bg;
	cursor: text;
	outline: none;
	&::placeholder {
		color: $text;
	}
	@content;
	// &:focus {
	// 	// box-shadow: 0 0 0 2px rgba(224, 116, 47, 1);
	// }
}

input {
	@include input($input-line, $input-line);
	&:hover {
		border: 1px solid lighten($main-color, 35%);
	}
	&:focus {
		border: 1px solid $btn;
	}
}

.input__box {
	position: relative;
	margin: 5px 5px;

}

.input-name {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 18px;
		left: 18px;
		width: 17px;
		height: 17px;
		background-image: url('../img/contacts/user.svg');
		background-size: 15px 15px;
		background-repeat: no-repeat;
		z-index: 2;
	}
}

.input-phone {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 16px;
		left: 19px;
		width: 12px;
		height: 20px;
		background-image: url('../img/contacts/phone.svg');
		background-size: 12px 20px;
		background-repeat: no-repeat;
		z-index: 2;
	}
}

.input-mail {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 23px;
		left: 16px;
		width: 20px;
		height: 16px;
		background-image: url('../img/contacts/mail.svg');
		background-size: 18px 16px;
		background-repeat: no-repeat;
		z-index: 2;
	}
}

////////////////////