// MAIN INPUT

@mixin input($bg: $first, $borderColor: $second) {
	position: relative;
    width: 100%;
	height: 50px;
	padding: 18px 20px 18px 48px;
	border-radius: 5px;
	border: 1px solid $borderColor;
	font-family: 'Open Sans', Roboto, sans-serif;
	font-size: 14px;
	appearance: none;
	cursor: text;
	outline: none;
	box-shadow: none;
	line-height: normal;
	background-color: $bg;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
	&::placeholder {
		color: $text;
	}
	@content;
	// &:focus {
	// 	// box-shadow: 0 0 0 2px rgba(224, 116, 47, 1);
	// }
}

input[type=text],
input[type=mail],
input[type=tel],
input[type=password] {
	@include input($input-line, $line);
	&:hover {
		border: 1px solid lighten($main-color, 35%);
	}
	&:focus {
		border: 1px solid $btn;
		
	}
}


.input-box {
	position: relative;
	text-align: right;
	small {
		position: absolute;
		right: 15px;
		top: 16px;
	}
}

.input-container.success input {
	border-color: $success;
}

.input-container.error input {
	border-color: $error;
}

.input-container small {
	color: $error;
	visibility: hidden;
}

.input-container.error small {
	visibility: visible;
}

.input-name,
.input-phone,
.input-mail {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		height: 50px;
		width: 50px;
		box-sizing: border-box;
		background-repeat: no-repeat;
	}
}

.input-name {
	&:before {
		background-image: url('../img/contacts/user.svg');
		background-size: 16px 16px;
		background-position: 17px 17px;
	}
}

.input-phone {
	&:before {
		background-image: url('../img/contacts/phone.svg');
		background-size: 10px 19px;
		background-position: 20px 16px;
	}
}

.input-mail {
	&:before {
		background-image: url('../img/contacts/mail.svg');
		background-size: 16px 14px;
		background-position: 17px 19px;
	}
}

////////////////////