// ФОРМЫ

/*Основной блок*/

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform:scale(0.9);
	}
	100% {
		opacity: 1;
		transform:scale(1);
	}
}

@keyframes zoomOut {
	0% {
		opacity: 1;
		transform:scale(1);
	}
	100% {
		opacity: 0;
		transform:scale(0);
	}
}

@keyframes showBg {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.9);
	}
}

@keyframes hideBg {
	0% {
		background-color: rgba(0, 0, 0, 0.0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}


.modal--show {
	display: flex !important;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 10000 !important;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.0);
	animation: showBg .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	
	.modal__container {
		position: relative;
		display: flex;
		padding: 60px 35px;
		border-radius: 10px;
		margin-left: 15px;
		margin-right: 15px;
		background-color: $white;
		animation: zoomIn .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
		@include bp-640 {
			padding: 50px 25px;
		}
		@include bp-380 {
			padding: 35px 15px;
		}


		.modal-close {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 20px;
			height: 20px;
			opacity: 0.5;
			cursor: pointer;
			img {
				width: 100%;
				height: 100%;
			}
			transition-duration: 0.3s;
			&:hover {
				opacity: 1;
			}
		}

	}

	.checkbox {
		width: 100%;
		margin: 15px 0 5px 0;
		.label-text {
			margin-top: 0;
		}
		.btn-politics {
			display: inline-block;
			width: 100%;
			text-align: left;
			margin-left: 30px;
			cursor: pointer;
			font-size: 11px;
			color: $title;
		}
	}

}

/*-----------*/




/*Форма заявки*/

.application-form {
	@include bp-340 {
		align-items: flex-start;
		overflow-x: hidden;
	}
	.application-container {
		flex-direction: column;
		text-align: center;
		flex-basis: 360px;
		max-width: 360px;
		@include bp-340 {
			margin-top: 10vh;
		}

		.modal-title {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			h3 {	
				@include title-font;
				color: $title;
				margin-bottom: 5px;
			}
			p {
				color: $text;

			}
		}
	
		.modal__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			.inputs {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				.input-box {
					margin: 5px;
				}
			}
			.form-btn {
				margin: 5px;
				button {
					width: 100%;
					@include bp-320 {
						font-size: 14px;
					}
				}
			}

		}

	}
}

/*-----------*/




/*Форма с описанием*/

.content-modal {
	overflow-y: auto;
	align-items: center;
	@include bp-992 {
		align-items: flex-start;
	}
	.content-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		width: 900px;
		height: auto;
		background-color: $white;
		padding: 60px 35px;
		@include bp-992 {
			width: 420px;
			margin-top: 10vh;

		}
		@include bp-480 {
			padding-top: 55px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 25px;
			width: 100%;
		}
		.modal__close {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 30px;
			height: 30px;
			overflow: hidden;
			opacity: 0.3;
			cursor: pointer;
			img {
				width: 30px;
				height: 30px;
			}
			transition-duration: 0.3s;
			&:hover {
				opacity: 1;
			}


		}
		.modal__info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			@include bp-992 {
				flex-direction: column;
			}
			.modal__img {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-right: 30px;
				width: 340px;
				height: auto;
				height: auto;
				overflow: hidden;
				@include bp-992 {
					width: 100%;
					margin-bottom: 5px;
					margin-right: 0;
				}
				@include bp-480 {
					width: 100%;
				}
				.img-display {
					overflow: hidden;
					width: 340px;
					height: 300px;
					border-radius: 10px;
					border: 1px solid $line;
					margin-bottom: 5px;
					@include bp-420 {
						width: 280px;
						height: 240px;
					}

				}
				.main-img {
					display: flex;
					flex-direction: row;
					align-items: center;
					transition: all 0.5s ease;
					position: relative;
					width: 100%;
					height: 100%;
					.img-box {
						min-width: 100%;
						height: 100%;
						@include bp-420 {
							min-width: auto;
						}
						img {
							display: block;
							min-width: 100%;
							height: 100%;
							@include bp-420 {
								width: 280px;
							}
						}
					}

				}
				.mini-img__container {
					display: flex;
					flex-direction: row;
					cursor:pointer;
					@include bp-480 {
						flex-wrap: wrap;
						justify-content: center;
					}
					img {
						border: 1px solid $line;
						border-radius: 5px;
						margin: 5px;
						&:hover {
							opacity: 0.8;
						}
					}
				}

		
			}
		
			.modal__description {
				display: flex;
				flex-direction: column;
				width: 380px;
				padding: 35px 25px;
				border-radius: 15px;
				border: 5px solid #EFEFEF;
				@include bp-992 {
					width: 100%;
				}
				@include bp-480 {
					padding: 25px 20px;
				}
				.modal__title {
					margin-bottom: 10px;
					p {
						text-transform: uppercase;
					}
					h2 {
						color: $title;
					}
				}
		
				.modal__options-object {
					display: flex;
					flex-direction: column;
					max-width: 320px;
					margin-bottom: 30px;
					.item {
						position: relative;
						display: flex;
						width: 100%;
						flex-direction: row;
						justify-content: space-between;
						&:before {
							position: absolute;
							content: '';
							bottom: 5px;
							left: 0;
							width: 100%;
							height: 1px;
							background-color: #EFEFEF;
							z-index: 1;
						}
						p {
							margin-right: auto;
						}
						span, p {
							position: relative;
							background-color: $white;
							padding: 2px;
							z-index: 2;
							font-size: 16px;
							
						}
					}
				}
		
				.object-icons {
					display: flex;
					flex-direction: row;
					align-items: center;
					flex-wrap: wrap;
					margin-bottom: 30px;
					@include bp-992 {
						justify-content: center;
					}
					@include bp-480 {
						flex-wrap: wrap;
					}
					.item {
						display: flex;
						flex-direction: column;
						align-items: center;
						border: 1px solid #EFEFEF;
						padding: 10px;
						margin: 5px;
						flex: 1 1 auto;
						max-width: auto;
						white-space: nowrap;
						.obj-ic {
							width: 35px;
							height: 35px;
						}
						img {
							opacity: 0.5;
							width: 100%;
							height: auto;
						}
						p {
							font-size: 12px;
						}
					}
				}
				
				.form-btn {
					button {
						width: 100%;
						@include bp-480 {
							padding-left: 15px;
							padding-right: 15px;
						}
					}
				}

			}
		}

	}




}

/*-----------*/




/*Политика*/

.politics-bg {
	background: rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
} 

.politics-modal {
	align-items: flex-start;
	.politics-container {
		display: flex;
		margin-top: 10vh;
		flex-basis: 700px;
		max-width: 700px;
		.politics-close {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 20px;
			height: 20px;
			opacity: 0.5;
			cursor: pointer;
			img {
				width: 100%;
				height: 100%;
			}
			transition-duration: 0.3s;
			&:hover {
				opacity: 1;
			}
		}
		.modal-description {
			display: block;
			flex-shrink: 1;
			.modal-title {
				margin-bottom: 20px;
			}

			.text-row {
				margin-bottom: 30px;
				
				.header-text {
					margin-bottom: 10px;
					p {
						font-size: 16px;
						font-weight: 700;
					}
				}
			}
		}
	} 
}

/*-----------*/


// ==========