// MODAL

.modal--show {
	display: flex !important;
}

.modal--hide {
	display: none;
}

.modal {
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}

.form__modal {
	.modal__container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: auto;
		padding: 60px 35px;
		margin-left: 15px;
		margin-right: 15px;
		text-align: center;
		background-color: $white;
		border-radius: 10px;
		@include bp-320 {
			padding: 60px 25px;
		}

		.modal__close {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 30px;
			height: 30px;
			overflow: hidden;
			opacity: 0.3;
			cursor: pointer;
			img {
				width: 30px;
				height: 30px;
			}
			transition-duration: 0.3s;
			&:hover {
				opacity: 1;
			}
		}

		.modal__title {
			margin-bottom: 15px;
			h3 {
				@include title-font;
				color: $title;
				margin-bottom: 5px;
			}
			p {
				font-size: 14px;
				color: $text;
			}
		}
	
		.modal__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			.inputs {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
			}
			.form-btn {
				margin: 5px;
				button {
					width: 100%;
					@include bp-320 {
						font-size: 14px;
					}
				}
			}
			.checkbox {
				margin: 5px;
			}	
		}
	}
}




.content__modal {
	overflow-y: auto;
	@include bp-480 {
		align-items: flex-start;
	}
	.modal__container {
		width: 900px;
		height: auto;
		justify-content: flex-start;
		@include bp-992 {
			width: 460px;
			margin-top: 15px;
		}
		@include bp-768 {
		}
		@include bp-480 {
			padding-top: 55px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 25px;
			width: 100%;
		}
		.modal__close {
			@include bp-480 {
				width: 25px;
				height: 25px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
				}
			}

		}
		h2, p, span {
			color: #fff;
		}

	}

	.modal__info {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include bp-992 {
			flex-direction: column;
		}
		.modal__img {
			position: relative;
			min-width: 260px;
			height: 260px;
			margin-right: 50px;
			overflow: hidden;
			border-radius: 15px;
		@include bp-992 {
			margin-bottom: 30px;
			margin-right: 0;
		}
		@include bp-480 {
			width: 100%;
			margin-bottom: 40px;
		}
		img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
		}
	}

	.modal__description {
		display: flex;
		flex-direction: column;
		.modal__text {
			margin-bottom: 40px;
			width: 500px;
			p {
				color: $text;
			}
			@include bp-992 {
				margin-bottom: 0;
				width: 100%;
			}

		}
		.btn-and-price {
			display: flex;
			flex-direction: row;
			@include bp-992 {
				flex-direction: column;
			}
			.modal-price {
				p {
					font-size: 32px;
					font-weight: 700;
					margin-top: 20px;
					margin-bottom: 20px;
					margin-right: 40px;
				}
			}
			.btn-signup {
				width: 270px;
				font-size: 24px;
				@include bp-992 {
					width: 100%;
				}
				&:before {
					top: 24px;

				}
			}
		}
	}
}

////////////////////