// ТИПОГРАФИКА

/*Общее*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	@include title-font;
	font-weight: 700;
	color: $title;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin-top: 0;
	margin-bottom: 0;
}

p, span {
	color: $text;
}

p, a, span {
	line-height: 1.5;
	@include text-font;
}

a {
	text-decoration: none;
	background-color: transparent;
	transition-duration: 0.3s;
	color: $link;
}

a:hover {
	color: lighten($link, 20%);
}

/*-----------*/




/*Заголовки*/

.main-title {
	margin-bottom: 20px;
	h1 {
		font-size: 50px;
		@include bp-768 {
			margin-bottom: 15px;
			font-size: 36px;
		}
		@include bp-480 {
			font-size: 24px;
		}
	}
}

h2 {
	margin-bottom: 15px;
	font-size: 32px;
	@include bp-768 {
		margin-bottom: 10px;
		font-size: 28px;
	}
	@include bp-480 {
		font-size: 20px;
	}
}

h3 {
	margin-bottom: 10px;
	font-size: 26px;
	@include bp-768 {
		margin-bottom: 5px;
		font-size: 22px;
	}
	@include bp-480 {
		font-size: 18px;
	}
}

h4 {
	margin-bottom: 5px;
	font-size: 20px;
	@include bp-768 {
		font-size: 18px;
	}
	@include bp-480 {
		font-size: 14px;
	}
}

/*----------*/



/*Тексты*/

.p20,.p18,.p16,.p14,.p13 {
	margin-bottom: 15px;
}

.p20 {
	font-size: 20px !important ;
	@include bp-768 {
		font-size: 18px !important;
	}
	@include bp-320 {
		font-size: 16px !important;
	}
}

.p18 {
	font-size: 18px !important;
	@include bp-768 {
		font-size: 16px !important;
	}
	@include bp-320 {
		font-size: 14px !important;
	}
}

.p16 {
	font-size: 16px !important;
	@include bp-768 {
		font-size: 14px !important;
	}
	@include bp-320 {
		font-size: 13px !important;
	}
}

.p14 {
	font-size: 14px !important ;
	@include bp-768 {
		font-size: 13px !important;
	}
	@include bp-320 {
		font-size: 12px !important;
	}
}

.p13 {
	font-size: 13px !important;
	@include bp-768 {
		font-size: 12px !important;
	}
	@include bp-320 {
		font-size: 11px !important;
	}
}


/*----------*/


// ==========